<h1> About this App </h1>
<p> This is a trial app made with the guidance of <%= link_to "One Month Rails", "http://www.onemonthrails.com" %> conducted by Matten Griffel.</p>
<p> theRAVI.KALAVADIAproject </p>